.mispan{
    color:blue
}

.contenedor {
    background-color: rgb(0, 247, 255);
    border: 10px double rgb(30, 29, 30);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    color: rgb(235, 95, 226);

}